@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here

// BASE
#menu
	background: #eee url(../img/menu__bg.jpg)

.title
	position: relative
	text-align: center
	margin-top: -35px
	img
		height: 110px
		width: auto
	.title__text
		position: absolute
		top: 35px
		left: 0
		text-outline: 
		width: 100%
		text-align: center

.buttons-panel,
.items-panel
	padding: 20px
	background-color: #fff
	border-radius: 3px

.btn_isotope
	margin: 0
	img
		height: 80px
		width: auto

.item
	width: 32.2%
	height: auto
	text-align: center
	background: /* url(../img/item__bg.jpg) */ #eee
	margin: 0 0.5% 20px

.item__name
	// background-color: $accent
	// color: #fff
	display: block
	height: 65px
	padding-top: 20px


.item__img
	display: block
	height: 200px

.item__price
	font-size: 2em
	&:after
		content: ' ₽'
		font-size: .9em

.entrees
	.item__img
		margin: 10px 50px 10px 60px
		position: relative
		&:after,
		&:before
			content: ''
			position: absolute
			bottom: 15%
		&:after
			left: -35%
			height: 100%
			width: 30%
			background: url(../img/meals/dishcloth.png) no-repeat bottom left
			background-size: contain
		&:before
			right: -20%
			height: 100%
			width: 18%
			background: url(../img/meals/spoon.png) no-repeat bottom right
			background-size: contain

.goryachiye-blyuda
	.item__img
		margin: 10px 50px 10px 60px
		position: relative
		&:after,
		&:before
			content: ''
			position: absolute
			bottom: 15%
		&:after
			left: -20%
			height: 100%
			width: 11%
			background: url(../img/meals/forkv.png) no-repeat bottom left
			background-size: contain
		&:before
			right: -20%
			height: 100%
			width: 9%
			background: url(../img/meals/knifev.png) no-repeat bottom right
			background-size: contain






#contacts
	background: #eee url(../img/contacts__bg.jpg) no-repeat center
	background-size: cover
	color: #fff
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		background-color: #000
		opacity: 0.3
	a
		color: inherit

.footer
	background-color: #333
	color: #fff



@import "media"
